- model_class = UploadFile
- with_sort = defined?(with_sort) && with_sort

%table.table.table-striped
  %tr
    %th= sortable('name', model_class.human_attribute_name(:name), !with_sort)
    %th= sortable('url', model_class.human_attribute_name(:url), !with_sort)
    %th= sortable('user_name', model_class.human_attribute_name(:user), !with_sort)
    %th= sortable('created_at', model_class.human_attribute_name(:created_at), !with_sort)
    %th= t '.actions', :default => t("helpers.actions")

  - upload_files.each do |upload_file|
    %tr[upload_file]
      %td= upload_file.name
      %td= link_to upload_file.url.url, upload_file.url.url
      %td= link_user upload_file
      %td= l upload_file.created_at 
      %td 
        = link_to t('.destroy', :default => t("helpers.links.destroy")),
                        upload_file_path(upload_file),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' 
