= form_for([computer, component], remote: true) do |f|
  .row
    .col-xs-8
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-xs-4
      .form-group
        = f.label :price
        = f.number_field :price, class: 'form-control', :step => 0.01
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :link
    = f.text_field :link, class: 'form-control'
  = f.submit t('.save', :default => t("helpers.links.save")), :class => 'btn btn-primary'
