= form_for comment ? comment : Comment.new, remote: true do |f|
  .form-group
    = f.hidden_field :parent_id, value: comment_parent.id if comment_parent
    - if resource
      = f.hidden_field :commentable_type, value: resource.class.name.tableize
      = f.hidden_field :commentable_id, value: resource.id
    .comment-textarea
      = f.text_area :body, class: 'comment-textarea-inner elastic', required: '', placeholder: (resource.nil? || resource.root_comments.empty?) ? t("form.comment.placeholder.no_comment") : t("form.comment.placeholder.comment")
      .pull-right
        = f.submit t("form.comment.submit"), class: 'btn btn-default' 

