.row
  .col-sm-1.comment-avatar
    = image_tag comment.user_avatar
  .col-sm-11.comment-inner
    %header
      %span.comment-username= link_user comment
      - if comment.parent && comment.parent.user
        %span.comment-parent
          %i.fa.fa-share
          %span.comment-parent= name_user(comment.parent.user)
      \-
      %span.comment-date= time_ago_in_words(comment.created_at)
      #body[comment]
        = render 'comments/body', comment: comment
    - if resource && resource.id && (can? :comment, resource)
      %a.comment-action{"data-toggle" => "collapse", href: "#form_comment_#{comment.id}"}
        %i.fa.fa-reply
        = t("comment.reply")
    - if can? :edit, comment
      \-
      %span.comment-action
        = link_to edit_comment_path(comment), method: :post, remote: true do
          %i.fa.fa-pencil
    - if can? :destroy, comment
      \- 
      %span.comment-action
        = link_to comment_path(comment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
          %i.fa.fa-trash-o
    - if resource && resource.id && (can? :comment, resource)
      .panel-collapse.collapse{id: "form_comment_#{comment.id}"}
        = render 'comments/form', resource: resource, comment_parent: comment
