.center
  %h1= t("home.title")
.center
  %p
    = t("home.text1")
%hr

- if @lan
  %h3
    Prochaine Lan (
    = link_to @lan.name, @lan
    ) en
    %strong= @lan.room_name
    dans
    %strong= time_ago_in_words @lan.start_at
    \!!!

%hr

.center
  %h4= link_to @page.name, section_page_path(@section, @page)

= render 'pages/content', page: @page
= render "comments/list", resource: @page

%hr

- if @lan_parties.count > 0
  .well
    = render "lan_parties/index", lan_parties: @lan_parties


%hr
  = render "games/last_games", games: @last_games
.center
  %h4= link_to t("home.see_games"), games_path

