= render 'shared/errors_messages', resource: computer
#Modal.modal.fade[computer]{"aria-hidden" => "true", "tabindex" => "-1"}
  = form_for computer do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}×
            %span.sr-only
              = t("helpers.links.close")
          %h4.modal-title= t("form.computer.title")
        .modal-body   
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control', required: ''
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"}
              = t("helpers.links.close")
            = f.submit t('.save', :default => t("helpers.links.save")), :class => 'btn btn-primary'
