- model_class = Group
.page-header
  %h1= @group.name.titleize

%h3= t("group.show.attributes")

.container
  .dl-horizontal
    %dt
      %strong= model_class.human_attribute_name(:level)
    %dd= @group.level
    - Group.attributes.each do |attribute|
      - next if ["name", "level"].include?(attribute)
      %dt
        %strong= model_class.human_attribute_name(attribute)
      %dd= print_boolean(@group[attribute])
%hr

%h3= t("group.show.list_user")
= render 'users/list_users', users: @group.users, group: @group

= render 'add_user', group: @group
%br
%hr
  
.form-actions
  - if can? :destroy, @group
    = link_to t('.destroy', :default => t("helpers.links.destroy")),
        group_path(@group),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger'
  - if can? :update, @group
    %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#groupModal"}
      = t("helpers.links.new", :name => model_class.model_name.human)
    = render 'groups/form', group: @group

