- model_class = User
%div
  .dl-horizontal
    %dt
      %strong= model_class.human_attribute_name(:name)
    %dd.user-name
      = user.name
      %i
        %a.user-edit{"data-toggle" => "modal", "data-target" => "#userModal"}
          = "(#{t("helpers.links.edit")})"
    %dt
      %strong= model_class.human_attribute_name(:pseudo)
    %dd.user-name
      = user.pseudo
      %i
        %a.user-edit{"data-toggle" => "modal", "data-target" => "#userModal"}
          = "(#{t("helpers.links.edit")})"
    %dt
      %strong= model_class.human_attribute_name(:password)
    %dd.user-name
      = user.sha_password
      %i
        %a.user-edit{"data-toggle" => "modal", "data-target" => "#userPasswordModal"}
          = "(#{t("helpers.links.edit")})"
    %dt
      %strong= model_class.human_attribute_name(:secret)
    %dd
      = user.secret
      %i= link_to "(#{t("helpers.links.regenerate")})", regenerate_secret_user_path(user), class: "user-edit", method: :post
    %dt
      %strong= model_class.human_attribute_name(:email)
    %dd= user.email
    %dt
      %strong= model_class.human_attribute_name(:created_since)
    %dd= time_ago_in_words(user.created_at)
    %dt
      %strong= model_class.human_attribute_name(:current_sign_in_at)
    %dd
      - if user.current_sign_in_at
        = time_ago_in_words(user.current_sign_in_at)
    %dt
      %strong= model_class.human_attribute_name(:current_sign_in_ip)
    %dd= user.current_sign_in_ip
    %dt
      %strong= model_class.human_attribute_name(:steamid)
    %dd
      = user.steamid
      %i= link_to "(#{t("steam.oauth.synclink")})", '/auth/steam', class: 'user-edit'
    - if user.is_a_steam_user? && !user.is_a_public_steam_user?
      %dd
        %i.fa.fa-warning
        %i= t("steam.oauth.not_public")


