%h1 Mon compte

.row#user-info
  .col-sm-2.user-avatar
    = image_tag @user.avatar("thumb")
    %a.user-edit{"data-toggle" => "modal", "data-target" => "#imageModal_user_#{@user.id}"}
      = t("helpers.links.edit")
    
    - if !@user.images.empty?
      \-
      %span.user-edit
        = link_to image_path(@user.images.last), method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
          %i.fa.fa-trash-o
  .col-sm-10.user-info
    = render 'users/info', user: @user

%hr

%h2 Mes demandes en cours :
= render 'borrowings/table_index', borrowings: @user.borrowings
%hr

%h2 Mes commentaires :
= render 'users/comments', comments: @user.comments

= render 'form', user: @user
= render 'password_form', user: @user
= render 'images/form', resource: @user
