%h1 Mon compte

= image_tag @user.avatar
- if !@user.images.empty?
  = link_to image_path(@user.images.last), class: 'btn btn-danger destroy-image', method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
    %i.fa.fa-trash-o
           
%h2 Mes demandes en cours :

= render 'borrowings/table_index', borrowings: @user.borrowings

- if can? :update, @user
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#userModal"}
    = t("helpers.links.edit")
  = render 'form', user: @user

%button.btn.btn-default{"data-toggle" => "modal", "data-target" => "#imageModal"}
  %i.fa.fa-upload
  = t("form.image.title")
= render 'images/form', resource: @user


