<div id = "charts_<%=title.parameterize%>"></div>
<script>
var ready = function() {
    $(function () { 
        $('#charts_<%=title.parameterize%>').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '<%= title%>'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 5000*12,
                title: {
                    text: null
                    }
            },
            yAxis: [
                <% data.each do |key, value|%>
                {
                min: 0,
                max: <%= value.max_by{|a| a.last}.last%>,
                title: {
                    text: '<%= key%>'
                },
                <% if data.keys.index(key) > 0%>
                    opposite: true,
                <%end%>
                }
                <%= key == data.keys.last ? '' : ',' %>
            <%end%>
            ],
            series: [
                <% data.each do |key, value|%>
                    {
                type: 'spline',
                yAxis: <%= data.keys.index(key)%>,
                name: '<%= key%>',
                data: <%=value%>
                }
                <%= key == data.keys.last ? '' : ',' %>
                <%end%>
            ]
        });
    });
};

$(document).ready(ready);
$(document).on('page:load', ready);


</script>
