- if can? :create, Page
  = link_to t('.new', :default => t("helpers.links.new"), name: Page.model_name.human),
          new_section_page_path(@section),
          :class => 'btn btn-primary'
- if can? :update, @section
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#sectionModal"}
    = t("helpers.links.edit")

  = render 'sections/form', section: @section

- @pages.each do |page|
  .well
    .center
      %h4= link_to page.name, section_page_path(@section, page)

    = render 'pages/content', page: page
    = render "comments/list", resource: page
  %hr
