- model_class = Section
%h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

%table.table.table-striped
  %tr
    %th= sortable('name', model_class.human_attribute_name(:name))
    %th= sortable('slug', model_class.human_attribute_name(:slug))
    %th= sortable('description', model_class.human_attribute_name(:description))
    %th= sortable('user_name', model_class.human_attribute_name(:user))
    %th= sortable('display', model_class.human_attribute_name(:activate))
    %th= sortable('blog', model_class.human_attribute_name(:blog))
    %th= sortable('created_at', model_class.human_attribute_name(:created_at))
    %th= sortable('updated_at', model_class.human_attribute_name(:updated_at))
    %th= t '.actions', :default => t("helpers.actions")

  - @sections.each do |section|
    %tr[section]
      %td= link_to section.name, section
      %td= section.slug
      %td= section.description
      %td= link_user(section)
      %td= print_boolean section.display
      %td= print_boolean section.blog
      %td= l section.created_at, format: :default
      %td= l section.updated_at, format: :default
      %td
        = form_for section do |f|
          = f.hidden_field :blog, value: 't'
          = f.submit t("section.blog"), class: 'btn btn-xs btn-primary'
        = link_to t('.destroy', :default => t("helpers.links.destroy")),
                        section_path(section),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' 
      
%br

-if can? :create, Section
  .form-actions
    %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#sectionModal"}
      = t("helpers.links.new", :name => model_class.model_name.human)

    = render 'sections/form', section: model_class.new
    = render 'shared/errors_messages', resource: @section if @section
