= form_for @borrowing do |f|
  .row
    .col-xs-6
      .form-group
        = f.label :start_at, t("form.borrowing.placeholder.start_at")
        = f.date_field :start_at, class: 'form-control', placeholder: t("form.borrowing.placeholder.start_at")
    .col-xs-6
      .form-group
        = f.label :end_at, t("form.borrowing.placeholder.end_at")
        = f.date_field :end_at, class: 'form-control', placeholder: t("form.borrowing.placeholder.end_at")
