#borrowing
  %h4= t("borrowing.title")

  = render 'progressbar', borrowing: @borrowing

  = render "list_copy", borrowing: @borrowing

  %hr
  
  = render "form", borrowing: @borrowing
  
  %hr

  -if @borrowing.state == :not_submit && !@borrowing.supply_requests.empty?
    %div{id: "charts_borrowing#{@borrowing.id}"}
    = render 'charts', borrowing: @borrowing
  

  - case @borrowing.state
  - when :effective
    - if can? :accepted, @borrowing
      = link_to t("borrowing.accepted"), accepted_borrowing_path(@borrowing), class: 'btn btn-primary', method: :post
  - when :accepted
    - if can? :beginning, @borrowing
      = link_to t("borrowing.beginning"), beginning_borrowing_path(@borrowing), class: 'btn btn-primary', method: :post
  
  - if @borrowing.state != :not_submit && @borrowing.state != :finish
    - if can? :ended, @borrowing
      = link_to t("borrowing.ended"), ended_borrowing_path(@borrowing), class: 'btn btn-primary', method: :post
