= render 'surveys/display', survey: page.survey if page.survey
.content-page[page]
  = page.content.html_safe

.pull-right
  = Page.human_attribute_name(:created_ago)
  = time_ago_in_words(page.created_at)
  = " | "
  = link_user page
%hr
