- model_class = Game

%table.table.table-striped#game-table
  - if head
    %tr
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:recent_playtime)
      %th= model_class.human_attribute_name(:total_playtime)
      %th= model_class.human_attribute_name(:nb_users)
      %th= model_class.human_attribute_name(:nb_achievements)
  = render 'tr_last_list', games: games


