- games.each do |game|
  %tr[game]
    %td= render 'games/image_game', game: game
    %td= distance_of_hours_in_words game.recent_playtime
    %td= distance_of_hours_in_words game.total_playtime
    %td= game.comments_count
    %td= game.users_count
    %td= game.user_achievements_count
