%p#notice= notice

%p
  %b Name:
  = @supply.name
%p
  %b Image:
  = @supply.image
%p
  %b Loanable:
  = @supply.loanable
%p
  %b Description:
  = @supply.description

= link_to t("loan.add_to_basket"), loan_supply_path(@supply), method: :post

= link_to 'Edit', edit_supply_path(@supply)
\|
= link_to 'Back', supplies_path
