.row
  .col-xs-10.col-md-6
    = render 'images/carousel', images: @supply.images
    %br
    - if can? :upload, @supply
      %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#imageModal_supply_#{@supply.id}"}
        %i.fa.fa-upload
        = t("form.image.title")
      = render 'images/form', resource: @supply
  .col-xs-6.col-md-4
    %h1= @supply.name + " - " + number_to_currency(@supply.price)
    %hr
    %h2= t("supply.number", number: @supply.supply_copies.loanables.size.to_s)
    - if current_user
      %h4= t("supply.loan.number", number: current_user.nb_supplies_in_basket(@supply))
    %p
      - if can? :loan, @supply
        = link_to loan_supply_path(@supply), method: :post, class: 'btn btn-primary' do
          %i.fa.fa-shopping-cart 
          = t("supply.loan.links")
    %p
      -if can? :add_copy, @supply
        =link_to t("supply.add_copy.links"), add_copy_supply_path(@supply), method: :post

%hr

- if !@supply.active_packs.empty?
  %h2= t("supply.pack_available")

  - @supply.active_packs.each do |pack|
    - if can? :show, @pack
      %h4= link_to pack.name, pack_path(pack)
    -else
      %h4= pack.name
    = render 'packs/thumb', pack: pack


%p
  %b Description:
  = @supply.description

= render 'charts', supply: @supply

%p
  %div{id: "charts_supply#{@supply.id}"}

- if can? :update, @supply
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#supplyModal"}
    = t("helpers.links.edit")

  = render 'form', supply: @supply
