#stepmania_packs_search.row
  = form_tag stepmania_packs_path, method: :get, remote: true, class: 'navbar-form navbar-left' do
    = select_tag :sqt, options_for_select(available_type), class: 'form-control', onchange: '$(this.form).submit();', placeholder: t("stepmania.search.pack")
    = search_field_tag :sqp, session[:sqp], class: 'form-control', onchange: '$(this.form).submit();', placeholder: t("stepmania.search.pack")
    = search_field_tag :sq, session[:sq], class: 'form-control', onchange: '$(this.form).submit();', placeholder: t("stepmania.search.title")
    = search_field_tag :sqa, session[:sqa], class: 'form-control', onchange: '$(this.form).submit();', placeholder: t("stepmania.search.artist")
    = number_field_tag :sqe, session[:sqe], class: 'form-control', onchange: '$(this.form).submit();', placeholder: t("stepmania.search.easier_than")


