- model_class = StepmaniaSong

- with_banner = (can? :play, StepmaniaSong) && stepmania_songs.group(:banner).pluck(:banner) != [""]

%table.table.table-striped.table-condensed
  %tr
    - if with_banner
      %th= model_class.human_attribute_name(:banner)
    %th= model_class.human_attribute_name(:name)
    %th= model_class.human_attribute_name(:title)
    %th= model_class.human_attribute_name(:subtitle)
    %th= model_class.human_attribute_name(:artist)
    %th= model_class.human_attribute_name(:video)
    %th.stepmania-difficulty-beginner= model_class.human_attribute_name(:beginner)
    %th.stepmania-difficulty-easy= model_class.human_attribute_name(:easy)
    %th.stepmania-difficulty-medium= model_class.human_attribute_name(:medium)
    %th.stepmania-difficulty-hard= model_class.human_attribute_name(:hard)
    %th.stepmania-difficulty-expert= model_class.human_attribute_name(:challenge)

  - stepmania_songs.each do |song|
    %tr[song]
      - if with_banner
        %td
          - if song.banner.blank?
            = image_tag "/assets/stepmania_logo.png", width: 120
          - else
            = image_tag GLOBALCONSTANT::STEPMANIA_URL + "/" + song.banner, width: 120
      %td          
        - if song.open_smo_song_id.nil?
          = song.name
        - else
          = link_to song.name, song.open_smo_song
        - if (can? :play, song) && !song.music.blank?
          %audio.music_stepmania#audio[song]{src: GLOBALCONSTANT::STEPMANIA_URL + "/" + song.music}
          %a{onclick: "play_stepmania_song('audio_stepmania_song_#{song.id}').play();", style: "cursor:pointer;"}
            %i.fa.fa-play#icon_audio[song]
      %td= song.title
      %td= song.subtitle
      %td= song.artist
      %td= print_boolean(song.video)
      %td= song.beginner
      %td= song.easy
      %td= song.medium
      %td= song.hard
      %td= song.challenge
 
