- model_class = StepmaniaSong

%table.table.table-striped.table-condensed
  %tr
    %th= model_class.human_attribute_name(:name)
    %th= model_class.human_attribute_name(:title)
    %th= model_class.human_attribute_name(:subtitle)
    %th= model_class.human_attribute_name(:artist)
    %th= model_class.human_attribute_name(:video)
    %th.stepmania-difficulty-beginner= model_class.human_attribute_name(:beginner)
    %th.stepmania-difficulty-easy= model_class.human_attribute_name(:easy)
    %th.stepmania-difficulty-medium= model_class.human_attribute_name(:medium)
    %th.stepmania-difficulty-hard= model_class.human_attribute_name(:hard)
    %th.stepmania-difficulty-expert= model_class.human_attribute_name(:challenge)

  - stepmania_songs.each do |song|
    %tr[song]
      - if song.open_smo_song_id.nil?
        %td= song.name
      - else
        %td= link_to song.name, song.open_smo_song
      %td= song.title
      %td= song.subtitle
      %td= song.artist
      %td= print_boolean(song.video)
      %td= song.beginner
      %td= song.easy
      %td= song.medium
      %td= song.hard
      %td= song.challenge
 
