.border-form-div
  %h2= t("devise.shared.sign_in")

  = form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'form-control') do |f|

    = f.email_field :email, placeholder: t("form.devise.session.email"), :autofocus => true, class: 'form-control'
    = f.password_field :password, placeholder: t("form.devise.session.password"), required: true, class: 'form-control'

    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        = t("form.devise.session.remember_me")

    = f.submit t("form.devise.session.submit"), class: 'btn btn-primary'

  = render "devise/shared/links"
