= form_for @survey do |f|
  - if @survey.errors.any?
    #error_explanation
      %h2= "#{pluralize(@survey.errors.count, "error")} prohibited this survey from being saved:"
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :is_extensible
    = f.check_box :is_extensible
  .field
    = f.label :responses_per_user
    = f.number_field :responses_per_user
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
