= render 'shared/errors_messages', resource: survey
#surveyModal.modal.fade{"aria-hidden" => "true", "tabindex" => "-1"}
  = form_for survey do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}×
            %span.sr-only
              = t("helpers.links.close")
          %h4.modal-title= t("form.supply.title")
        .modal-body   
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control', required: ''
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control'
          .form-group
            = f.label :is_extensible
            = f.check_box :is_extensible, class: 'form-control'
          .form-group
            = f.label :responses_per_user
            = f.number_field :responses_per_user, class: 'form-control'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"}
              = t("helpers.links.close")
            = f.submit t('.save', :default => t("helpers.links.save")), :class => 'btn btn-primary'
