.center
  %h4= survey.name
.center
  %p= survey.description
- if result
  = render 'surveys/responses_result', survey: survey
- else
  = render 'surveys/responses', survey: survey

.center
  %p= t("survey.nb_users", count: survey.nb_users)
  - if survey.responses_per_user > 1
    %p= t("survey.nb_vote", count: survey.nb_vote)

