.center
  %h1= survey.name
  %p= survey.description
%hr
- if result
  = render 'surveys/responses_result', survey: survey
- else
  = render 'surveys/responses', survey: survey

.pull-right
  %p
    = "Il y a eu #{survey.nb_vote} vote pour le moment"
    - if survey.responses_per_user > 1
      = "parmis les quelques #{survey.nb_users} votants"

