- model_class = Survey
%h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

%h4 Nouveau Sondage
= form_for Survey.new do |f|
  = f.text_field :name, placeholder: "Entrez votre question", class: 'form-control'
 


%table.table.table-striped
  %tr
    %th= model_class.human_attribute_name(:name)
    %th= model_class.human_attribute_name(:description)
    %th= model_class.human_attribute_name(:is_extensible)
    %th= model_class.human_attribute_name(:responses_per_user)
    %th= model_class.human_attribute_name(:user)
    %th= model_class.human_attribute_name(:created_at)
    %th= t '.actions', :default => t("helpers.actions")

  - @surveys.each do |survey|
    %tr[survey]
      %td= link_to survey.name, survey
      %td= survey.description
      %td= survey.is_extensible
      %td= survey.responses_per_user
      %td= survey.user
      %td= survey.created_at.to_s(:pretty)
      %td 
        = link_to t('.destroy', :default => t("helpers.links.destroy")),
                        survey_path(survey),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' 
      
