.pull-right
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#surveyModal"}
    %i.fa.fa-wrench
    = t("helpers.links.params")
.center
  %h1= @survey.name
  %p= @survey.description
%p
  %b Responses per user:
  = @survey.responses_per_user
%h4= "Il vous reste #{@survey.nb_available_vote(current_user)} votes disponible"

= render 'responses_edit', survey: @survey

%h4 Réponses
%hr
= render 'responses_result', survey: @survey
%hr
=# render 'responses', survey: @survey

= render 'form', survey: @survey
