.pull-right
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#surveyModal"}
    %i.fa.fa-wrench
    = t("helpers.links.params")

%p
  %b Name:
  = @survey.name
%p
  %b Description:
  = @survey.description
%p
  %b Is extensible:
  = @survey.is_extensible
%p
  %b Responses per user:
  = @survey.responses_per_user
%p
  %b User:
  = @survey.user

%h4 Réponses
= render 'responses', survey: @survey

= link_to 'Edit', edit_survey_path(@survey)
\|
= link_to 'Back', surveys_path


= render 'form', survey: @survey
