.pull-right
  %button.btn.btn-primary{"data-toggle" => "modal", "data-target" => "#surveyModal"}
    %i.fa.fa-wrench
    = t("helpers.links.params")

.center
  %h1= @survey.name
.center
  %p= @survey.description
.row
  .col-md-6
    #result_survey
      = render 'responses_result', survey: @survey
  .col-md-6
    %p= t("survey.responses_per_user", count: @survey.responses_per_user)
    = render 'responses_edit', survey: @survey

= render 'form', survey: @survey
