%h3.center
  - if game.lan_game_game
    = link_to game.name, game.lan_game_game
  - else
    = game.name
.center
  = game.description

- if game.image
  = image_tag game.image, class: 'center', width: 300

- game.tournaments.each do |tournament|
  = render 'lans/tournament', tournament: tournament

.pull-right
  %br
  - if can? :tournament, game
    = link_to create_tournament_lan_game_relation_path(game), method: :post, class: 'btn btn-xs btn-primary' do
      %i.fa.fa-games
      Créer un tournoi !

  - if can? :upload, game
    %button.btn.btn-default.btn-xs{"data-toggle" => "modal", "data-target" => "#imageModal_lan_game_relation_#{game.id}"}
      %i.fa.fa-upload
      = t("form.image.title")
    = render 'images/form', resource: game

  - if !game.images.empty? && (can? :destroy, game.images.last)
    = link_to image_path(game.images.last), method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-xs btn-warning' do
      %i.fa.fa-trash-o
      = t('.destroy', :default => t("helpers.links.destroy_image"))

  - if can? :edit, game
    %button.btn.btn-default.btn-xs{"data-toggle" => "modal", "data-target" => "#Modal_lan_game_relation_#{game.id}"}
      = t("helpers.links.edit")
 
    = render 'lans/form_game_relation', lan_game_relation: game

  - if can? :destroy, game
    = link_to lan_game_relation_path(game), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' do
      %i.fa.fa-trash-o
      = t('.destroy', :default => t("helpers.links.destroy"))
  
%br
%hr
