- model_class = Lan

%h1.center= @lan.name
%br
%h3.center= @lan.description

%hr

%h2 Horaires
%p
  Début :
  %strong= l @lan.start_at, format: :short_speak
%p
  Fin :
  %strong= l @lan.end_at, format: :short_speak

- if can? :edit, Lan
  .form-actions
    %button.btn.btn-primary.btn-xs.pull-right{"data-toggle" => "modal", "data-target" => "#LanModal"}
      = t("helpers.links.edit")

    = render 'lans/form', lan: @lan

%hr

%h2 Salle

= render 'lans/room_status', lan: @lan

%hr

%h2 Programme

- @lan.lan_game_relations.each do |game|
  = render 'lans/show_game', game: game


- if can? :add_game, Lan
  #GameLanForm
    = render 'lans/form_games', lan: @lan, available_games: @available_games
%hr

= render 'comments/list', resource: @lan

