.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path, title: t("home.name")}
        .hidden-sm= image_tag "logo_gign.png", itemprop: "logo"
        .visible-sm= image_tag "logo_gign.png"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - blog = Section.blog
        - if blog
          %li{class: current_page?(section_path(blog)) ? 'active' : ''}
            %a{href: section_path(blog)}= blog.name
        %li{class: current_page?(supplies_path) ? 'active' : ''}
          %a{href: supplies_path}= t '.title', :default => Supply.model_name.human.pluralize.titleize
        %li{class: current_page?(games_path) ? 'active' : ''}
          = link_to games_path do 
            %i.fa.fa-steam
            = t '.title', :default => t("activerecord.models.game", count: 2)

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => 'dropdown'}
            = t("navbar.dropdown_section.title")
            %i.caret

          %ul.dropdown-menu{role: 'menu'}
            - if can? :index, Section
              %li.dropdown-header{:role => "presentation"}
                = link_to sections_path do
                  = t("navbar.dropdown_section.name")

              %li.divider
            - Section.displays.includes(ordered_pages: :translations).includes(:translations).each do |section|
              %li
                = link_to section.name, section_page_path(section, section.pages.first) 



      %ul.nav.navbar-nav.navbar-right
        - if (can? :index, Borrowing) || (can? :index, Pack) || (can? :index, User) || (can? :index, Group)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => 'dropdown'}
              %i.fa.fa-wrench
              = t("navbar.dropdown_admin.title")
              %i.caret
            %ul.dropdown-menu{role: 'menu'}
              - if can? :index, Borrowing
                %li
                  = link_to borrowings_path do
                    %i.fa.fa-truck
                    = t("navbar.dropdown_admin.borrowing")
              - if can? :index, Pack
                %li
                  = link_to packs_path do
                    %i.fa.fa-archive
                    = t("navbar.dropdown_admin.pack")
              - if can? :index, User
                %li
                  = link_to users_path do
                    %i.fa.fa-user
                    = t("navbar.dropdown_admin.user")
              - if can? :index, Group
                %li
                  = link_to groups_path do
                    %i.fa.fa-users
                    = t("navbar.dropdown_admin.group")
              - if can? :index, Image
                %li
                  = link_to images_path do
                    %i.fa.fa-picture-o
                    = t("navbar.dropdown_admin.image")
              - if can? :index, UploadFile
                %li
                  = link_to upload_files_path do
                    %i.fa.fa-file
                    = t("navbar.dropdown_admin.file")
 

        - if !current_user
          %li
            .navbar-btn
              = link_to '/auth/steam' do
                = image_tag "/assets/sign_in_steam.png"
          %li
            .navbar-btn
              = link_to t('navbar.sign_in'), new_user_session_path, class: 'btn btn-primary'
          %li
            .navbar-btn
              = link_to t('navbar.sign_up'), new_user_registration_path, class: 'btn btn-default'
        - else
          %li
            .btn-group.navbar-btn
              %a.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" =>"dropdown", style: 'width: 220px;'}
                = current_user.fullname[0..17]
                - if current_user.active_basket.supply_requests.exists?
                  %i.fa.fa-shopping-cart
                  = current_user.active_basket.supply_requests.sum(:nb_supplies)
                - if current_user.box.comments.exists?
                  %i.fa.fa-envelope
                  = current_user.box.comments.count
                %span.caret.color-green
              %ul.dropdown-menu{role: 'menu', style: 'width:220px;margin-left:10px'}
                %li
                  = link_to user_path(current_user), :rel => "nofollow", title: t("navbar.user.title") do
                    %i.fa.fa-home
                    = t("navbar.user.link")
                %li
                  = link_to steam_user_path(current_user), :rel => "nofollow", title: t("navbar.steam.title") do
                    %i.fa.fa-steam
                    = t("navbar.steam.link")
                %li
                  = link_to borrowing_path(current_user.active_basket), :rel => "nofollow", title: t("navbar.basket.title") do
                    %i.fa.fa-shopping-cart
                    = t("navbar.basket.link")
                %li
                  = link_to mail_boxes_path, :rel => "nofollow", title: t("navbar.mail.title") do
                    %i.fa.fa-envelope
                    = t("navbar.mail.link", count: current_user.box.comments.count)
                %li.divider
                %li
                  = link_to destroy_user_session_path, method: :delete, :rel => "nofollow", title: t("navbar.logout") do
                    %i.fa.fa-sign-out
                    = t("navbar.logout")
