!!!
%html
  %head
    %title GiGN
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "/ace/ace", "/ace/ext-language_tools", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .flash
      = bootstrap_flash
    = render 'layouts/navbar'
    
    = render 'layouts/locale'
    
    .container.well
      = yield

    %hr
    =render 'layouts/footer'
