!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title GiGN - Gif Gaming Network
    %meta{:name => "description", :content => t("meta.description")}
    %meta{:name => "keywords", :content => t("meta.keywords")}
    %meta{:name => "author", :content => t("meta.author")}
    - hreflang = I18n.locale == :fr ? 'en' : 'fr'
    %link{href: request.host + current_url_with_locale(hreflang), hreflang: hreflang, rel: "alternate"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    .flash
      = bootstrap_flash
    = render 'layouts/navbar'
    
    = render 'layouts/locale'
    
    .container
      = yield

    %hr
    =render 'layouts/footer'
