- if member.role.blank?
  = member.name
- else
  %b= member.name + " ~ " + member.role

- if can? :edit, member
  #member_action[member]{style: 'display: inline-flex'}
    = render 'members/order', member: member, promotion: member.promotion
    
    = link_to edit_promotion_member_path(member.promotion, member), :method => :post, remote: true do
      %i.fa.fa-pencil

  - if can? :destroy, member
    = link_to promotion_member_path(member.promotion, member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true do
      %i.fa.fa-trash

